.learn-more{
    color: #75040a;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.close{
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid #75040a;
    color: #fff;
    background-color: rgb(37, 37, 37);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.toggle{
    color: #75040a;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}