#header{
    display: flex;
    flex-direction: row;
}

#miniLogo{
    max-width: 15%;
    margin-top: 15px;
    margin-left: 15px;
}

#mainNav{
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-left: 15px;
    margin-top: 25px;
}

#navigation li{
    color: black;
    display: inline-block;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

#navigation li:hover{
 cursor: pointer;
 background-color: black;
 color: #fff;
}