#selector{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 165px;
}

.selector-images{
    max-width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.learn-more{
    border: none;
    padding: 10px;
}

.thumbnail:nth-child(1){
    background-color: #75040a;
}

.thumbnail:nth-child(2){
    background-color: rgb(53, 53, 53);
}

.thumbnail:nth-child(3){
    background-color: #1f4970;
}

.thumbnail:nth-child(4){
    background-color: rgb(53, 53, 53);
}

.learn-more{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.learn-more:hover{
    cursor: pointer;
}


